<!DOCTYPE html>
<html>
<head>
    <title>Amigos</title>
    <script src="script/Node.js"></script>
    <script src="script/script.js"></script>
    
</head>
<body>
    <h1>Amigos</h1>

    <!-- Resto del contenido HTML -->

    <script>
        // Aquí puedes llamar a las funciones del script.js o escribir código JavaScript adicional
        const username = 'Moranciox';
        const amigo = 'Juan';

        agregarAmigo(username, amigo);
        obtenerAmigos(username);
        const nuevoNombre = 'Juan Pérez';
        actualizarNombreAmigo(username, amigo, nuevoNombre);
        eliminarAmigo(username, amigo);
    </script>
</body>
</html>


